@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ol>
    @foreach (var dog in Model.Dogs)
    {
        <li>
            <ul>
                <li>Name: @dog.Name</li>
                <li>Breed: @dog.Breed</li>
            </ul>
        </li>
    }
</ol>
